---

---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Gif Wallpaper | Pixel-Wallpaper</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fontawesome.com/icons/github?f=brands&s=solid">
		<script src="https://kit.fontawesome.com/cf1fb60fea.js" crossorigin="anonymous"></script>
	</head>
	<body>

	<!-------------------------------------------------------------------------------------------------------------------------->
	<!-------------------------------------------------------------------------------------------------------------------------->
	<!-------------------------------------------------------------------------------------------------------------------------->
	<!-------------------------------------------------------------------------------------------------------------------------->
	<!-------------------------------------------------------------------------------------------------------------------------->
	<!-------------------------------------------------------------------------------------------------------------------------->

	<style>
		body, html{
			margin: 0;
			background-image: url(/src/img/fondo.jpg);
			color: white;
			font-family: "Roboto", serif;;
		}
		* {
		box-sizing: border-box;
		}
		
		
		.column {
		float: left;
		width: 25%;
		padding: 0 10px;
		}
		
		.row {margin: 0 5px;}
		
		.row:after {
		content: "";
		display: table;
		clear: both;
		}
		
		@media screen and (max-width: 600px) {
		.column {
			width: 100%;
			display: block;
			margin-bottom: 2px;
		}
		}
		
		.card {
		box-shadow: 0 0px 15px 0 #93a2fa;
		padding: 1px;
		text-align: center;
		background-color: #dddbf6;
		border: solid 3px #8097fb;
		border-radius: 5px;
		color: #140f07;
		margin-top: 20px;
		}

		img {
  		max-width: 100%;
  		width: 350px;
		border: solid 3px #8097fb;
		border-radius: 5px;
		}

		img:hover{
			transform: scale(1.1);
			transition: 2s;
		}

		h1 {
			background-color: #0e2a55;
			margin: 0;
			padding: 40px;
			border-bottom: solid 5px #3a5cb5;
			color: white;
			text-shadow: 1px 0 25px #dddbf6;
			font-family: "Press Start 2P", serif;
		}

		article{
			padding-left: 100px;
			padding-right: 100px;
		}

		h2{
			text-shadow: 1px 0 25px;
		}

		button{
    	border:solid 3px #93a2fa;
    	background-image: linear-gradient(
        150deg,
        #140f07,
        #0e2a55,
        #3a5cb5
    	);
		border-radius: 8px;
		color:#fff;
		display: flex;
		font-size: 18px;
		padding: 15px;
		cursor: pointer;
		margin: 0 auto;
		margin-top: 6px;
		margin-bottom: 3px;
		margin-left: 3px;
		margin-right: 3px;
		display: inline;
		}

		a{
		color: white;
		text-decoration: none;
		}

		.footer{
		margin-top: 40px;
		background-color: #0e2a55;
		padding: 20px;
		border-top: solid 5px #3a5cb5;
		}

		.profile { 
		display: flex; 
		flex-direction: column;
		align-items: center;
		text-align: center;
		text-shadow: 1px 0 25px#fff;
		background-image: url(/src/img/fondo.jpg);
		padding: 20px; 
		border-radius: 10px; 
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
		max-width: 600px; 
		width: 100%;
		margin: 0 auto;
		} 
		
		.profile img {
		border-radius: 100%; 
		width: 150px; 
		margin-bottom: 20px;
		transform: none;
		} 

		.profile p { 
		margin: 0; 
		font-size: 16px; 
		}
		
		.contact { 
			align-items: center;
			text-align: center;
			margin-top: 10px;
		} .contact a { 
			margin: 0 10px; 
			font-size: 30px; 
			color: white; 
			text-decoration: none;
		} .contact a:hover { 
			color: #007bff;
			transition: 0.5s,
		}

		strong {
			color:#8097fb; 
			text-shadow: 1px 0 10px;
		}

		{

		}
		</style>

		<!-------------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------------->
		<!-------------------------------------------------------------------------------------------------------------------------->

		<header>
			<h1>Gif Pixel-Wallpaper</h1>
		</header>
		
		<article>
			<h2>What is lively Wallpaper?</h2>
			<p><strong>Lively Wallpaper</strong>, a free and open source application that allows you to set GIFs, videos and web pages as wallpaper or screen saver on your desktop. This application can make your PC look more dynamic and lively with moving wallpapers.<br><br><strong>Lively Wallpaper</strong>, It is designed to be efficient and easy to use, and is available for download from the Microsoft Store or directly from its official website.</p>
			<button class="lively">
				<span><a href="https://www.rocksdanister.com/lively/" target="_blank">Download Now</a></span>
			</button>
		</article>
		
    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Mistery Shacks</h3>
                <img src="/src/img/1.gif" alt="Imagen 1" width="350px">
				<button>
					<span><a href="/src/img/1.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/1.gif" download="misterishackgif-gifpixel-wallpaper-01">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Kirbi GameStudio</h3>
                <img src="/src/img/2.gif" alt="Imagen 2" width="350px">
				<button>
					<span><a href="/src/img/2.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/2.gif" download="kirbigame-studio-gifpixel-wallpaper-02">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Hunter Dragon</h3>
                <img src="/src/img/3.gif" alt="Imagen 3" width="350px">
				<button>
					<span><a href="/src/img/3.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/3.gif" download="hunterdragon-gifpixel-wallpaper-03">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Lofi Tavern</h3>
                <img src="/src/img/18.gif" alt="Imagen 4" width="350px">
				<button>
					<span><a href="/src/img/18.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/18.gif" download="lofitavern-gifpixel-wallpaper-04">Download</a></span>
				</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Meeting in Neon Alley</h3>
                <img src="/src/img/17.gif" alt="Imagen 5" width="350px">
				<button>
					<span><a href="/src/img/17.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/17.gif" download="meetinginneonalley-gifpixel-wallpaper-05">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Knight's Refuge in the Ruins</h3>
                <img src="/src/img/6.gif" alt="Imagen 6" width="350px">
				<button>
					<span><a href="/src/img/6.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/6.gif" download="knightsrefugeintheruins-gifpixel-wallpaper-06">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Guard in the Night Forest</h3>
                <img src="/src/img/7.gif" alt="Imagen 7" width="350px">
				<button>
					<span><a href="/src/img/7.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/7.gif" download="guardinthenightforest-gifpixel-wallpaper-07">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Link GameStudio</h3>
                <img src="/src/img/8.gif" alt="Imagen 8" width="350px">
				<button>
					<span><a href="/src/img/8.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/8.gif" download="linkgamestudio-gifpixel-wallpaper-08">Download</a></span>
				</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Night Neon</h3>
                <img src="/src/img/9.gif" alt="Imagen 9" width="350px">
				<button>
					<span><a href="/src/img/9.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/9.gif" download="nightneon-gifpixel-wallpaper-09">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Guardians of the Horizon</h3>
                <img src="/src/img/10.gif" alt="Imagen 10" width="350px">
				<button>
					<span><a href="/src/img/10.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/10.gif" download="guardiansofthehorizon-gifpixel-wallpaper-10">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Echoes of Devastation</h3>
                <img src="/src/img/11.gif" alt="Imagen 11" width="350px">
				<button>
					<span><a href="/src/img/11.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/11.gif" download="echoesofdevatation-gifpixel-wallpaper-11">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>The Star Cabin</h3>
                <img src="/src/img/12.gif" alt="Imagen 12" width="350px">
				<button>
					<span><a href="/src/img/12.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/12.gif" download="thestarcabin-gifpixel-wallpaper-12">Download</a></span>
				</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Twilight on the Lonely Island</h3>
                <img src="/src/img/13.gif" alt="Imagen 13" width="350px">
				<button>
					<span><a href="/src/img/13.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/13.gif" download="twilightonthelonelyisland-gifpixel-wallpaper-13">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Reflections in the Neon City</h3>
                <img src="/src/img/14.gif" alt="Imagen 14" width="350px">
				<button>
					<span><a href="/src/img/14.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/14.gif" download="reflectionsintheneoncity-gifpixel-wallpaper-14">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Autumn Corner</h3>
                <img src="/src/img/15.gif" alt="Imagen 15" width="350px">
				<button>
					<span><a href="/src/img/15.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/15.gif" download="autumncorner-gifpixel-wallpaper-15">Download</a></span>
				</button>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <h3>Stylish Modern Living Room</h3>
                <img src="/src/img/16.gif" alt="Imagen 16" width="350px">
				<button>
					<span><a href="/src/img/16.gif" target="_blank" style="padding: 22px;">View</a></span>
				</button>
                <button>
					<span><a href="/src/img/16.gif" download="stylishmodernlivingroom-gifpixel-wallpaper-16">Download</a></span>
				</button>
            </div>
        </div>
    </div>

	<footer>
		<div class="footer">
			<div class="profile">
				<h2>¿Quién Soy?</h2>
				<img src="/src/img/me.jpg" alt="Foto de Samuel">
				<p>Soy Samuel, un apasionado de la programación desde temprana edad, vivo en Caracas, Venezuela. Mi amor por el código y la tecnología ha sido una constante en mi vida, conduciéndome a través de una multitud de proyectos y desafíos que han perfeccionado mis habilidades y avivado mi creatividad. Cada línea de código que escribo es una oportunidad para innovar y resolver problemas complejos, transformando ideas abstractas en realidades funcionales.</p>
				
			</div>
			<div class="contact">
				<a href="https://github.com/SamuelCubano" target="_blank" class="fa-brands fa-github"></a>
				<a href="https://www.instagram.com/samuelcubano/" target="_blank" class="fa-brands fa-instagram"></a>
				<a href="https://www.linkedin.com/in/samuel-cubano-0b520b288/" target="_blank" class="fa-brands fa-linkedin"></a>
			</div>
		</div>
	</footer>
</body>
</html>
